html,body { height:100%; }
#content {
    position: relative;
    width:100%;
    height:100%;
    overflow:hidden;
    background:#eee;
}
#rect {
    position: absolute;
    background-image: url(../img/mario_right.png);
    background-position: 0px 0px;
    overflow: hidden;
    width: 80px;
    height: 80px;
    bottom: 0;
}
